apiVersion: v1
kind: Service
metadata:
  name: {{ include "dex-server.fullname" . }}-http
  labels:
    {{- include "dex-server.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.httpPort }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "dex-server.selectorLabels" . | nindent 4 }}
